.title {
    font-weight: bold;
}

.header-container{
    background-color: aqua;
}
.body-container{
    border: 2px black solid;
}

.footer-container{
    background-color: black;
    color: white;
}